{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bluehexagon LLC.</title>    
    <link rel="stylesheet" href="{% static 'landingpage/css/style.css' %}">
</head>
<body>
    <div class="site-wrapper">
        <div class="hero-wrapper">
            <div class="hero-content">
                <h1>Bluehexagon LLC.</h1>
                <p>
                    We Deliver Experience.
                </p>
            </div>
        </div>
    </div>
</body>
</html>