{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djandora | {% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="{% static 'household/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'household/css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.18.0/sweetalert2.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body class="site-wrapper">
    <div class="ui top fixed inverted menu">
        
        <div class="item">
            Mira
        </div>

        <a class="item" href="{% url 'tasks:index' %}">
            <i class="icon database"></i> Tasks
        </a>

        <div class="right menu">
            <a href="#" class="item">
                <i class="icon calendar"></i>
                {% now 'd / m / Y' %}
            </a>
            <a href="{% url 'household:user_logout' %}" class="item">
                <i class="icon sign out"></i>
                Logout
            </a>
        </div>
    </div>

    <div class="ui container fluid">
        {% block 'content' %}
        {% endblock %}
    </div>

    <footer>
        <span style="padding: 3em;"></span>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.18.0/sweetalert2.js"></script>

    {% load sweetify %} {% sweetify %}

    {% block 'scripts' %}
    {% endblock 'scripts' %}



</body>
</html>