{% extends "household/master.html" %}

{% block 'title' %}
Add New Task
{% endblock 'title' %}

{% block 'content' %}
<div class="ui container" style="margin-top: 1.52em;">
    <div class="ui segment">
        <h3>Add New Task</h3>
        <hr>
        <form class="ui form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="field" id="startDate">
                <label for="start_date">Start Date: </label>
                <input type="text" name="start_date" placeholder="Start Date" data-toggle="datepicker">
            </div>
            <button class="ui green button">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock 'content' %}

{% block 'scripts' %}
<script>
    $(document).ready(function() {
        $('[data-toggle="datepicker"]').datepicker();
    })
</script>
{% endblock 'scripts' %}