{% extends "household/master.html" %}

{% block 'title' %}
Showing Tasks
{% endblock 'title' %}

{% block 'content' %}

<div class="ui container" style="margin-top: 1.52em;">
    <div class="ui segment">
        <h3>
            Hello {{ user.get_username }},
        </h3>
        
        <p>
            <strong>Find below your tasks: </strong>
        </p>
        
        <a href="{% url 'tasks:add' %}" class="ui green button">
            Add New Task
        </a>

        <table class="ui celled padded green table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td colspan="5">
                        <h3>Daily Tasks</h3>
                    </td>
                </tr>

                {% for d_task in daily_tasks %}
                <tr class="{% if d_task.records.first.is_completed %}completed{% endif %}">
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ d_task.name }}
                    </td>
                    <td>
                        {{ d_task.start_date }}
                    </td>
                    <td>
                        {{ d_task.recurring_pattern.recurring_type }}
                    </td>
                    <td>
                        <form action="{% url 'tasks:mark-task-complete' d_task.id %}" method="post">
                            {% csrf_token %}
                            <button class="ui icon circular green button" title="Toggle Task Status">
                                <i class="icon check"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}


{% block 'scripts' %}
<script>
    $(document).ready(function() {
        $('.triggerSubmit').on('click', function() {
            $(this).children($('.markTaskCompleteForm').submit());
        })
    })
</script>
{% endblock 'scripts' %}
