{% extends "household/master.html" %}

{% block 'title' %}
Showing {{ task.name }}
{% endblock 'title' %}

{% block 'content' %}

<div class="ui container fluid" style="padding: 0 1.52rem; ">
    <div class="ui segment">
        <h1 class="ui title">
            Showing : {{ task.name }}
        </h1>

        <hr>

        <table class="ui celled padded table" id="dataTable">
            <tbody>
                <tr>
                    <td>Description</td>
                    <td>
                        {{ task.description }}
                    </td>
                </tr>
                <tr>
                    <td>Recurring Pattern</td>
                    <td>
                        {{ task.recurring_pattern.recurring_type }}
                    </td>
                </tr>
                <tr>
                    <td>Start Date: </td>
                    <td>
                        {{ task.start_date| date:"d/m/Y" }}
                    </td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>
                        {{ task.created_at | date:"d/m/Y" }}
                    </td>
                </tr>
                <tr>
                    <td>Status ( For Today ): </td>
                    <td>
                        {% if task.is_record_for_today %}
                            <i class="icon check"></i>
                        {% else %}
                            <i class="icon close"></i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="ui cards">
            {% for d_item in dateslist %}
            <div class="card">
                <div class="content center aligned text">
                    <div class="header">
                        {{ d_item.date | date }},{{ d_item.date | date:"D" }}
                    </div>

                    <hr>

                    <div class="description">
                        <form action="{% url 'tasks:mark-task-show' d_item.task.id %}" method="post">
                            {% csrf_token %}

                            <input type="hidden" value="{{ d_item.date | date:'Y-m-d' }}" name="task_date">

                            {% if d_item.record %}
                                <button class="ui icon circular green button" title="Toggle Task Status">
                                    <i class="icon check"></i>
                                </button>
                            {% else %}
                                <button class="ui icon circular red button" title="Toggle Task Status">
                                    <i class="icon close"></i>
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="hero-wrapper ui segment">
            <div class="text">
                <h1>
                    {% load humanize %}
                    {{ efficiency|floatformat:1|intcomma }} %
                </h1>
                <p>
                    The number above represents the efficiency score of the "<i>{{ task.name }}</i>" from it's Start Date till <i>Today</i>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}