/*
*/
body {
    background: #f2f2f2;
    padding-top: 75px;
}

.hero-wrapper {
    display: flex;

    .text {
        flex: 1;
        text-align: center;
        h1 {
            font-size: 6em !important;
            font-weight: 300;
        }
        p {
            font-family: 'Oswald', sans-serif;
            font-size: 1.52em;
        }
    }
}