body {
    // background: #333;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    display: flex;
    height: 100vh;
    .hero-wrapper {
        height: 50%;
        flex: 1;
        background: #fff;

        .hero-content {
            display: flex;
            height: 100%;
            flex: 1;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Oswald', sans-serif;

            h1 {
                margin-bottom: 0;
            }
        }
    }
}